name: Deploy to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  Deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Create Docker Image
      run: docker build . -t {{secrets.DOCKERHUB_USERNAME}}/project1manual:01
    - name: Authenticate Docker Hub
      run: echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login -u {{secrets.DOCKERHUB_USERNAME}} --password-stdin
    - name: Push to Docker Hub
      run: docker push {{secrets.DOCKERHUB_USERNAME}}/project1manual:01

  